   <header>
    <nav class="container">
        <div class="nav-top">
             <div class="logo">
                   <img src="/images/maki.jpg">
                    <h1>
                        Guide<span class="litle-logo">.Isalo</span>
                    </h1>
             </div>
                <ul class="nav-links">
                        <li>
                            <a href="#">Acceuil</a>
                        </li>
                        <li>
                            <a href="#apropos">A-propos</a>
                        </li>
                        <li>
                            <a href="#">Acceuil</a>
                        </li>
                        <li>
                            <a href="#">Acceuil</a>
                        </li>
                        <li>
                            <a href="#" class="login">Se connecté</a>
                        </li>
                </ul>   

                <div class="hamburger-menu">
                    <div class="bar"></div>
                </div>
        </div>
    </nav>
    </header>
    <div class="banner-area">
       <h1>Guide touristique de l'isalo</h1>
    </div>

  