@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&family=Montserrat:wght@300;400&family=Roboto:wght@300&display=swap');

@import 'shared/variables';


@import "~bootstrap/scss/bootstrap";

/** Style génerale */

$base-color: #bf1300;
$button-color: #01480e;
$letter-white: #fff;
$letter-black:#000;
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}



html{
    scroll-behavior: smooth;
}

body,
button,
input,
textarea{
    font-family: "Poppins", sans-serif;
}

.stop-scrolling{
    height: 100%;
    overflow: hidden;
}


a{
    text-decoration: none;
}

ul{
    list-style: none;
    color: #000;
}

img{
    width: 100%;
}

.container{
    max-width: 92rem;
    padding: 0 4rem;
    margin: 0 auto;
}

.btn{
    background-color:$base-color;
    color: $letter-white;
    appearance: button;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #fff;
    font-size: 0.9rem;
    padding: 0.60rem 2rem;
    margin-left: 0rem;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    transition: all .2s,box-shadow .08s ease-in;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    &:hover{
        background-color: #01480e;
        color: $letter-white;
    }
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    margin-right: 2rem;
    h1{
        font-size: 1.5rem;
        color: $base-color;
        font-weight: bold;
        span{
            font-size: 0.9rem;
            color: rgb(197, 211, 7);
            text-transform: lowercase;
        }
    }
}
.image-scrol{
  
    height: 450px !important;
    object-fit: cover;
}


/** Style génerale */

/* style alert message*/
.alert{
    padding: 10px;
    color:white;
    text-align: center;
    border: none;
    border-radius: 0;
    &.alert-success{
        background-color: green;
    }
    &.alert-error{
        background-color: red;
    }
    &.alert-info{
        background-color: blue;
    }
}
/* fin style alert message*/

/** style image vich */
.vich-image{
    img {
        @extend .mt-2, .rounded, .shadow, .img-thumbnail, .col-md-6
    }
    .form-check{
        @extend .mt-3;
      }
}
/** fin style image vich */


/** style pulications guide */
.publications{
   
    .group-pub{
        position: relative;
        overflow: hidden;
        transition: 0.3s ease-out;
        &:hover{
            transform:scale(1.075);     
            background-color:yellow;  
         }
        .img-pub{
            img{
                height: 250px;
                width: 220px;
                object-fit: cover;
              
            }
        }
    }
   
   
}

/** fin style pulications guide */




/**my content*/


.content{
    
    background-color:$letter-white;

    /**guide slide style*/
    .liste-guide{
        max-width: 84rem;
        padding: 2rem 4rem;
        margin: 0 auto ;
        box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
        position: relative;
       // text-align: center;
        top:4rem;
        border-radius: 2rem;

        .detaille-guide{
            display: flex;
            justify-content: space-between;
            margin-top: 1.5rem;
        }

        h1{
            position: absolute;
            top: 0rem;
            font-size: 1rem;
            padding: 1rem;
            border-radius: 2rem;
            color: $letter-white;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #bf1300;
            box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
            text-transform: uppercase;
          
        }

        .prevGuide {
            position: absolute;
            top: 50%;
            left: 10px;
            z-index: 1;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            border: none;
            background-color: $base-color;
            color: #fff;
            cursor: pointer;
        }

        .nextGuide {
            position: absolute;
            top: 50%;
            right: 10px;
            z-index: 1;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            border: none;
            text-align: center;
            background-color: $base-color;
            color: #fff;
            cursor: pointer;
        }

        .group-guide{
            max-width: 92rem;
            margin: 2rem auto;
            display: flex;
            justify-content: space-between;
        .card-guide{
           text-align: center;
            .guide-photo{
                margin-bottom: 0.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    object-fit: cover;
                    object-position: center;
                }
            }

            .guide-content{
                p{
                    margin: 0.8rem auto;
                }
               
            }
        }
    } 
    }

    /** fin guide slide style*/

     /**apropos guide style*/
     .apropos{
        background-color: $letter-white;
         .group-apropos{
             max-width: 92rem;
             padding: 2rem 4rem;
             margin: 0 auto ;
             margin-top: 4rem;
             display: grid;
             grid-template-columns:2.3fr 2.5fr;
             align-items: center;
             justify-content: center;
             text-align: left;
             height: 100vh;
             .left-apropos{
                 margin-right:1.5rem;
                 h1{
                     color: #333;
                     font-size: 3rem;
                     line-height: 0.8;
                    
                 }
                 .text{
                     font-size: 1.25rem;
                     color:#7a7a7a;
                     line-height:1.6;
                     margin: 2.15rem 0;
                 }
                 a{
                     display: inline-block;
                     padding: 0.85rem 2rem;
                     background-color: $base-color;
                     border-radius: 4rem;
                     color: $letter-white;
                     text-transform: uppercase;
                     font-size: 0.8rem;
                     font-weight: 500;
                     transition: 0.2s;
                     &:hover{
                         background-color: #01480e;
                     }
                 }
             }
 
             .reight-apropos{
                 margin-left: 1.5rem;
                 display: flex;
                 align-items: center;
                 justify-content: center;
 
                 img{
                     max-width:750px;
                     height: 420px;
                     object-fit: cover;
                     border-radius: 2rem;
                     box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
                 }
             }
         }
     }
    /** fin apropos guide style*/

    /** service style*/
    
    .service{
        padding: 4rem 0;
        background-image: url(/public/images/maki2.jpg);
        position: relative;
        &::after{
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #000;
            top: 0;
            left: 0;
            z-index: 0;
            opacity: 0.7;
        }
        .container{
           
            .header-service{
                text-align: center;
                margin-bottom: 1.5rem;
                max-width: 600px;
                margin: 0 auto;
               
                .title{
                    display: inline-block;
                    padding-bottom: 1rem;
                    line-height: 1;
                    font-size: 2.8rem;
                    position: relative;
                    margin-bottom: 1rem;
                    z-index: 1;
                    color: #bf1300;
                    &::before{
                        content: attr(data-title);
                        display: block;
                        margin-bottom: 0.4rem;
                        color: $letter-white;
                        font-size: 1.15rem;
                        font-weight: 500px;
                        text-transform: uppercase;
                        letter-spacing: 3px;
                        z-index: 1;
                    }
                    &:after{
                        content: "";
                        position: absolute;
                        width: 90px;
                        height: 4px;
                        border-radius: 3px;
                        background-color: $button-color;
                        bottom: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        z-index: 1;
                    }
                }
                .text{
                    color:$letter-white;
                    font-size: 1.15rem;
                    z-index: 1;
                }
            }
            .card-service{
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                .card{
                    position: relative;
                    width: 100%;
                    max-width: 390px;
                    min-height: 450px;
                    background-color:$letter-white ;
                    margin: 1.5rem  0.8rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    z-index: 1;
                    transition: 0.3s;
                    &:hover{
                        transform: translateY(-15px);
                        &::after{
                            content: "";
                            position: absolute;
                            width: 100%;
                            height: 0px;
                            bottom: 0;
                            left: 0;
                            background-color: $base-color;
                            z-index: 1;
                            transition: 0.3s;
                        }
                        
                    }
                   
                    &:hover::after{
                        height: 8px;
                    }

                    .card-content{
                    img{
                        width: 100px;
                        margin-bottom: 1.7rem;
                    }

                    h3{
                        color: #333;
                        font-weight: 600;
                        font-size:1.6rem;
                    }
                    .text{
                        font-size: 1.15rem;
                        margin: 1rem 0;
                    }
                  }
                  
                }
            }
        }
    }

    /** fin service style*/

    /** portofolio style*/
    .portfolio{
        position: relative;
        width: 100%;
        min-height: 1200px;
        padding-top: 4rem;
        background-color:$letter-white;
        .background-bg{
            position: absolute;
            width: 100%;
            height: 520px;
            top: 0;
            left: 0;
            background-color: $base-color;
        }
        .container{
            padding-bottom: 2rem;
            .section-header{
                text-align: center;
                margin-bottom: 1.5rem;
                max-width: 600px;
                margin: 0 auto;
               
                .title{
                    display: inline-block;
                    padding-bottom: 1rem;
                    line-height: 1;
                    font-size: 2.8rem;
                    position: relative;
                    margin-bottom: 1rem;
                    z-index: 1;
                    color: #000;
                    &::before{
                        content: attr(data-title);
                        display: block;
                        margin-bottom: 0.4rem;
                        color: $letter-white;
                        font-size: 1.15rem;
                        font-weight: 500px;
                        text-transform: uppercase;
                        letter-spacing: 3px;
                        z-index: 1;
                    }
                    &:after{
                        content: "";
                        position: absolute;
                        width: 90px;
                        height: 4px;
                        border-radius: 3px;
                        background-color: $button-color;
                        bottom: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        z-index: 1;
                    }
                }
                .text{
                    color:$letter-white;
                    font-size: 1.15rem;
                    z-index: 1;
                }
            }

            .section-body{
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                .filter{
                    .filter-btn{
                        border: none;
                        outline: none;
                        background-color: transparent;
                        margin:0.45rem 0.4rem ;
                        padding: 0.60rem 1.8rem;
                        color: $letter-white;
                        text-transform: uppercase;
                        font-weight: 500;
                        font-size: 1.1rem;
                        line-height: 1;
                        border-radius: 2rem;
                        cursor: pointer;
                        transform: 0.3s;
                    }
                    .active{
                        background-color: $button-color;
                        color: $letter-white;
                        
                    }
                   
                }

                .grid{
                    width: 100%;
                    margin: 1.5rem 0;
                
                    .grid-item{
                        width: 33.33%;
                        padding: 1rem 1.2rem;
                        display: flex;
                        justify-content: center;
                        .gallery-image{
                            position: relative;
                            overflow: hidden;
                            border-radius: 16px;
                            height: 300px;
                            width: 100%;
                            cursor: pointer;
                            &:hover{
                                .image-overlay{
                                    opacity: 1;
                                }
                                img{
                                    transform: translate(-50%, -50%) scale(1.1);
                                }
                            }
                            img{
                                position: absolute;
                                height: 115%;
                                width: initial;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                transform-origin: center;
                                transition: 0.5s;
                               
                            }

                            .image-overlay{
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                top: 0;
                                left: 0;
                                color: $letter-white;
                                z-index: 1;
                                background-color: rgba(19, 112, 58, 0.218);
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: flex-end;
                                padding: 2rem 3.2rem;
                                opacity: 0;
                                transition: 0.5s;
                                .plus{
                                    position: relative;
                                    margin: auto 0;
                                    &::before,&::after{
                                        content: "";
                                        position: absolute;
                                        width: 4.5rem;
                                        height: 3px;
                                        top: 50%;
                                        left: 50%;
                                        transform: translate(-50%, -50%);
                                        background-color: $letter-white;
                                        border-radius: 3px;

                                    }
                                    &::before{
                                        transform: translate(-50%, 50%) rotate(-90deg);
                                    }

                                }

                                .img-description{
                                    width: 100%;
                                    h3{
                                        font-weight: 600;
                                        text-transform: uppercase;
                                        font-size: 1.5rem;
                                    }
                                    h5{
                                        font-size: 1.15rem;
                                        font-weight: 300;

                                    }
                                }

                            }
                        }
                       
                    }
                }

                .plus-btn{
                    a{
                        background-color: $base-color;
                        padding:  0.8rem 4rem;
                        color: $letter-white;
                        transition: 0.3s;
                        &:hover{
                            background-color: $button-color;
                        }
                    }
                }
            }
        }

        
    }

    /** fin portofolio style*/


    /** contact style */
    .contact{
        position: relative;
        width: 100%;
        padding: 13.5rem 0 8.5rem;
        background-color: $base-color;
        z-index: 0;
        iframe{
            position: absolute;
            top: 0;
            left:0;
            width: 100%;
            height: 40%;
            z-index: -1;
        }
        .container{
            margin-top: 4rem;
            .contact-box{
                width: 100%;
                background-color: $letter-white;
                border-radius: 45px;
                padding: 2.5rem 2.5rem;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                .contact-info{
                    padding-right: 2rem;
                    .title{
                        &::after{
                            left: 0;
                            transform: initial;
                        }

                    }
                    .information-wrap{
                        margin-top: 2rem;
                        .information{
                            display: flex;
                            align-items: center;
                            &:not(:last-child){
                                margin-bottom: 1.3rem;
                            }
                            .contact-icon{
                                min-width: 50px;
                                height: 50px;
                                display: inline-block;
                                border-radius: 50%;
                                background-color: #bf1300;
                                color: $letter-white;
                                text-align: center;
                                font-size: 1.4rem;
                                margin-right: 1rem;
                                i{
                                    line-height: 50px;
                                }
                                .info-text{
                                    font-size: 1.3rem;
                                    display: inline-block;
                                }
                            }
                        }
                    }
                }
                .contact-form{
                    padding-left: 2rem;
                    .title{
                        margin: 0;
                        &::after{
                            display: none;
                        }
                    }

                    .row{
                        width: 100%;
                        display: grid;
                        grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
                        grid-column-gap: 0.6rem;
                        .contact-input{
                            padding: 1rem 1.1rem;
                            margin: 0.6rem 0;
                            border: none;
                            outline: none;
                            background: #f3f3f3;
                            border-radius: 0.5rem;
                            font-weight: 500;
                            font-size: 1.1rem;
                            &::placeholder{
                                font-size: 400;
                            }
                        }
                        .textarea{
                            resize: none;
                            min-height: 220px;
                            border-radius: 0.5rem;
                        }

                    }
                }
            }
        }
    }
    /** fint contact style */

      /** Herguide style*/

      .hireguide{
        padding:10rem 0 ;
        background-color: $letter-white;
        .container{
            text-align: center;
            .title{
                margin-bottom: 1rem;
            }
            .text{
                padding: 2rem 0;
            }
        }
       
    }

    /** Herguide style*/



}


/** fin my content */