
{% extends 'layouts/base.html.twig' %}

{% block title 'Publications' %}

{% block body %}

<div class="p-2 p-md-4 mb-5 mt-5 text-white rounded bg-dark container">
        <div class="col-md-6 px-0">
          <h1 class="display-4 fst-italic">Publication et activité </h1>
          <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
          <p class="lead mb-0"><a href="#all-pulucations" class="text-white fw-bold">Voir plus...</a></p>
          <p class="lead my-3">Il y a {{ pluralize(pins|length, 'Pin', 'Pins')}} </p>
        </div>
</div>
    
{% if pins|length > 0 %}

{% for row in pins|batch(6) %}
<div class="container">
  <div class="row mb-2 " id="all-pulucations">
 
    {%for pin in row %}
 
    {% endfor %}
  </div>
{% endfor%}
{% else %}
<p class="h4 text-center mt-5">Pas de publications disponible.<a href="{{ path('app_publications_create') }}">Soyez le prémier à crée un publication</a></p>
{% endif %}
</div>

{% endblock %}

