{% extends 'layouts/base.html.twig' %}


{% block title 'Change Password' %}

{% block body%}
<div class="row dazy">
    <div class="col-md-6 mx-auto ">
        <h1 class="my-4 text-center">Change Password</h1>
    
       {{ form_start(form) }}
       {{ form_widget(form) }}

       <div class="d-grid gp-2">
           <button type="submit" class="btn btn-primary">Update Password</button>
       </div>
       {{ form_end(form) }}
    </div>
</div>
{% endblock%}